/* STYLE RESETS */
*{
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}
/* END OF STYLE RESETS */

/* MAIN HTML SECTION STYLES */
/* contains banner, highscores button, timer */
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
/* div that displays the focal content of the game */
.main-content {
    width: 50%;
    min-width: 400px;
    text-align: center;
    order: 1;
}
/* END MAIN HTML SECTION STYLES */

/* INDIVIDUAL ELEMENT STYLES */
/* Title Banner*/
.quizify-title {
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    background-image: linear-gradient(black,grey);
    color: white;
    padding: 30px 40px;
    margin:0;
}

/* Heading (h2 elements) */
.heading {
    font-size: 30px;
}

/* Highscore button */
#view-high-scores {
    color: purple;
    padding: 10px 40px;
    margin: 0;
}
#view-high-scores:hover {
    background-color: purple;
    color: white;
}

/* Timer */
.timer-text {
    padding: 10px 40px;
    margin: 0;
}

/* answers */
li {
    border: black solid 2px;
    padding: 10px;
    margin: 5px;
}
li:hover {
    background-color: bisque;
}

/* feedback text */
.feedback {
    order: 2;
    color:darkgrey;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0 0 0;
    border-top: darkgrey solid 2px;
    width: 50%;
    min-width: 400px;
    padding: 5px 0 0 10px;
}

/* text box for entering name */
#enter-name {
    border: black 2px solid;
    width: 60px;
    margin: 0 10px 0 10px;
}

/* Start Button */
#start-button {
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
#start-button:hover {
    background-color: green;
}

/* other buttons */
#submit-btn, #go-back-btn, #clear-scores-btn {
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 20px;
    margin: 10px 10px;
}
#submit-btn:hover, #go-back-btn:hover {
    background-color: green;
}
#clear-scores-btn:hover {
    background-color: red;
}

/* text displaying user's final score */
#final-score{
    font-size: 28px;
}