/* STYLE RESETS */
*{
    border: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    box-sizing: border-box;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* END OF STYLE RESETS */

header {
    display:flex;
    justify-content: space-between;
    padding: 30px 40px;
}

main {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    padding: 30px;
    flex-direction: column;    
}

.main-content {
    background-color: azure;
    padding: 30px;
    width: 50%;
    min-width: 400px;
    text-align: center;
    order: 1;
}

/* Start Button */
#start-button {
    background-color: purple;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

li {
    border: black solid 2px;
    padding: 10px;
    margin: 5px;
}

.feedback {
    
    order: 2;
}

#game-over-msg-title{
    order: 1;
}
#game-over-msg{
    order: 2;
}
#final-score{
    order: 3;
}
#score-form{
    order: 4;
}